:root {
  --pink-lace: #ffd6ffff;
  --mauve: #e7c6ffff;
  --maximum-blue-purple: #c8b6ffff;
  --lavender-blue: #b8c0ffff;
  --lavender-blue-2: #bbd0ffff;
}

body {
  font-family: "Dancing Script", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Smokum", cursive;
  font-family: "Source Sans Pro", sans-serif;
}
